.prod-inline-block {
  display: inline-block !important;
}

.prod-block {
  display: block;
}

.prod-none {
  display: none !important;
}

.prod-pad-0 {
  padding: 0;
}

.prod-pad-10 {
  padding: 10;
}

.prod-margin-0 {
  margin: 0;
}

.prod-margin-10 {
  margin: 10;
}

.prod-word-break-keep {
  word-break: keep-all;
}

.prod-pointer {
  cursor: pointer;
}

.prod-bg--white {
  background-color: #fff;
}

.prod-border {
  border: solid 1px #000;
}
.prod-border--bottom {
  border-bottom: solid 1px #000;
}
.prod-border--top {
  border-top: solid 1px #000;
}
