.prod-inline-block {
  display: inline-block !important;
}

.prod-none {
  display: none !important;
}

.prod-pad-0 {
  padding: 0;
}

.prod-margin-0 {
  margin: 0;
}

.prod-word-break-keep {
  word-break: keep-all;
}

.prod-pointer {
  cursor: pointer;
}
