<div>
  <progress id="agocms-featurelayer-select-group-progress-0"
  value="0"
  max="100"
  _="on showFakeProgress debounced at 700ms
      set my value to 0
      show the closest parent <div/>
      repeat while my value < 100
        set my value to my value + 10
        wait 0.1s
      end
      wait 0.4s
      hide the closest parent <div/>">0%</progress>
</div>
