{# agcms/templates/view-config-form.html.twig #}
<div class='agocms-view-conf' d-type='map'>
  <p>Layers:<p>
  <div id='agocmsConfAddContent' class='agocms-conf-search'>
    <div class='agocms-conf-search-col'>
      <div class='agocms-conf-search-col-header'>
        <label>Access</label>
      </div>
      <ul class='agocms-conf-search-list' id='agocmsConfSearchAccessList'>
        <li d-val='private'
            class='agocms-conf-search-list-item agocms-conf-search-list-item--selected'>
          private
        </li>
        <li d-val='public' class='agocms-conf-search-list-item'>public</li>
        <li d-val='all' class='agocms-conf-search-list-item'>all</li>
      </ul>
    </div>
    <div class='agocms-conf-search-col'>
      <div class='agocms-conf-search-col-header'>
        <label>Groups</label>
        <input id='agocmsConfSearchGroups' placeholder='search'>
      </div>
      <ul class='agocms-conf-search-list' id='agocmsConfSearchGroupsList'></ul>
    </div>
    <div class='agocms-conf-search-col'>
      <div class='agocms-conf-search-col-header'>
        <label>Services</label>
        <input id='agocmsConfSearchServices' placeholder='search'>
      </div>
      <ul class='agocms-conf-search-list' id='agocmsConfSearchServicesList'></ul>
    </div>
    <div class='agocms-conf-search-col'>
      <div class='agocms-conf-search-col-header agocms-conf-search-col-header--disabled'>
        <label>Layers</label>
      </div>
      <ul class='agocms-conf-search-list' id='agocmsConfSearchLayersList'></ul>
    </div>
  </div>
  <!--<button type='button' onclick='agocmsViewConfigAddLayer();'>Add layer</button>-->
  <div>
    <div>
      <label>Map Layers</label>
      <ul id='agocmsConfMapLayers'></ul>
    </div>
    <div>
      <label>Data Tables</label>
      <ul id='agocmsConfTables'></ul>
    </div>
  </div>
  <p>Relationships:</p>
  <div id='agocmsConfRelationships'>
    <div>
      <button id='agocmsConfRelationshipsAddBtn'
              type='button' disabled='disabled'>Add New</button>
    </div>
    <ul id='agocmsConfRelationshipsList'></ul>
  </div>
</div>
<template id='agocmsConfFeatureLayer'>
  <link href='/modules/custom/agocms/assets/custom/css/productivity.css'
        rel='stylesheet' type='text/css'>
  <div>
    <div>
      <div>
        <label>Layer Name:</label>
        <p class='prod-inline-block prod-margin-0' id='agocmsConfLayerFormLayerName'></p>
      </div>
      <div>
        <label>Layer Url:</label>
        <p class='prod-inline-block prod-margin-0' id='agocmsConfLayerFormLayerUrl'></p>
      </div>
    </div>
    <div>
      <label>Display Name</label>
      <input type='text' id='agocmsConfLayerFormDisplayName' d-setting='display_name'/>
    </div>
    <div id='agocmsConfLayerFormCrud'>
      <div style='display: none;'>
        <input type='checkbox' id='agocmsConfLayerFormCreate' d-setting='can_create'/>
        <label for='agocmsConfLayerFormCreate'>Allow Create</label>
      </div>
      <div style='display: none;'>
        <input type='checkbox' id='agocmsConfLayerFormDelete' d-setting='can_delete'/>
        <label for='agocmsConfLayerFormDelete'>Allow Delete</label>
      </div>
      <div style='display: none;'>
        <input type='checkbox' id='agocmsConfLayerFormAttrUpdate' d-setting='can_update_attr'/>
        <label for='agocmsConfLayerFormAttrUpdate'>Allow Attribute Edit</label>
      </div>
      <div style='display: none;'>
        <input type='checkbox' id='agocmsConfLayerFormGeoUpdate' d-setting='can_update_geo'/>
        <label for='agocmsConfLayerFormGeoUpdate'>Allow Geometry Edit</label>
      </div>
    </div>
    <div id='agocmsConfLayerFormLbl' style='display: none;'>
      <div>
        <label>Label Field</label>
        <select id='agocmsConfLayerFormLblField' d-setting='label.field'></select>
      </div>
      <div>
        <label>Label Font Size</label>
        <select id='agocmsConfLayerFormLblSize'
                d-setting='label.font_size'
                d-number>
          <option value='6'>6</option>
          <option value='8'>8</option>
          <option value='10'>10</option>
          <option value='12'>12</option>
          <option value='14'>14</option>
          <option value='16'>16</option>
          <option value='18'>18</option>
          <option value='20'>20</option>
        </select>
      </div>
      <div>
        <label>Label Font Color</label>
        <input type='color' d-setting='label.font_color' id='agocmsConfLayerFormLblColor'/>
      </div>
      <div>
        <label>Label Background Color</label>
        <input type='color' d-setting='label.bg_color' id='agocmsConfLayerFormLblBgColor'/>
      </div>
      <div>
        <label>Label Border Color</label>
        <input type='color' d-setting='label.border_color' id='agocmsConfLayerFormLblBdColor'/>
      </div>
    </div>
  </div>
</template>
<template id='agocmsConfFields'>
  <link href='/modules/custom/agocms/assets/custom/css/productivity.css'
        rel='stylesheet' type='text/css'>
  <div>
    <div>
      <div>
        <label>Display Name:</label>
        <p class='prod-inline-block prod-margin-0' id='agocmsConfFieldsFormLayerDisplayName'></p>
      </div>
      <div>
        <label>Data Model Name:</label>
        <p class='prod-inline-block prod-margin-0' id='agocmsConfFieldsFormLayerName'></p>
      </div>
      <div>
        <label>Layer Url:</label>
        <p class='prod-inline-block prod-margin-0' id='agocmsConfFieldsFormLayerUrl'></p>
      </div>
    </div>
    <div id='agocmsConfFieldsFormFieldList'></div>
    <button id='agocmsConfFieldsFormSaveBtn' type='button'>Save</button>
  </div>
</template>
<template id='agocmsConfField'>
  <link href='/modules/custom/agocms/assets/custom/css/productivity.css'
      rel='stylesheet' type='text/css'>
  <div>
    <div>
      <label>Name (alias):&nbsp;</label>
      <p class='prod-inline-block'>
        <slot name='name'><em>Undefined</em></slot>
        &nbsp;
        (<slot name='label'><em>NA</em></slot>)
      </p>
    </div>
    <div>
      <label>Type:&nbsp;</label>
      <p class='prod-inline-block'>
        <slot name='type'>*<em>Unknown</em>*</slot>
      </p>
    </div>
    <div>
      <label>Is Optional:</label>
      <p class='prod-inline-block'>
        <slot name='nullable'>false</slot>
      </p>
    </div>
    <div>
      <div class='prod-inline-block'>
        <label>Disabled:</label>
        <input type='checkbox' d-setting='is_disabled'/>
      </div>
      <div class='prod-inline-block'>
        <label>Hidden:</label>
        <input type='checkbox' d-setting='is_hidden'/>
      </div>
    </div>
    <!--
      <div style='display: none;'>
        <label>Coded Values</label>
        <ul></ul>
      </div>
      <div style='display: none;'>
        <label>Range</label>
        <p>Min: <span></span></p>
        <p>Max: <span></span></p>
      </div>
    -->
  </div>
</template>
<template id='agocmsConfFieldTextSettings'>
  <div>
    <div>
      <label>Make links active:</label>
      <input type='checkbox' d-setting='links_active'/>
    </div>
    <div>
      <label>Parse image links:</label>
      <select d-setting='image_display'/>
        <option value='disabled'>disabled</option>
        <option value='thumbnails'>thumbnails</option>
        <option value='carousel'>carousel</option>
      </select>
    </div>
  </div>
</template>
<template id='agocmsConfFieldNumberSettings'>
  <div>
    <div>
      <label>Number prefix:</label>
      <input d-setting='number_prefix'>
    </div>
    <div>
      <label>Number post label:</label>
      <input d-setting='number_post_text'>
    </div>
  </div>
</template>
<template id='agocmsConfFieldDecimalSettings'>
  <div>
    <label>Rounding digits:</label>
    <input d-setting='rounding_digits'>
  </div>
</template>
<template id='agocmsConfFieldDateSettings'>
  <div>
    <label>Date format:</label>
    <select d-setting='date_format'/>
      <option value='d m yyyy'>1 Jan 2001</option>
      <option value='D, M d yyyy'>Monday, January 1 2001</option>
      <option value='d/m/yy'>1/1/01</option>
    </select>
  </div>
</template>
<template id='agocmsConfFieldCodedValsList'>
  <label>Coded value domain list:</label>
  <ul class='agocms-conf-field-codes'></ul>
</template>
<template id='agocmsConfFieldCodedValItem'>
  <li>
    <span class='agocms-conf-field-codes-code'></span>
    <span>:&nbsp;</span>
    <span class='agocms-conf-field-codes-name'></span>
  </li>
</template>
<template id='agocmsConfRelationship'>
  <link href='/modules/custom/agocms/assets/custom/css/productivity.css'
        rel='stylesheet' type='text/css'>
  <div id='agocmsConfRelationshipWiz'>
    <div class='agocms-conf-rel-wiz-page' id='agocmsConfRelationshipWizPg1'>
      <label>Select a Parent Layer:</label>
      <select id='agocmsConfRelationshipParentLayer'
              d-setting='parent_layer'></select>
    </div>
    <div class='agocms-conf-rel-wiz-page' id='agocmsConfRelationshipWizPg2' style='display: none;'>
      <label>Select a Child Layer:</label>
      <select id='agocmsConfRelationshipChildLayer'
              d-setting='child_layer'></select>
    </div>
    <div class='agocms-conf-rel-wiz-page' id='agocmsConfRelationshipWizPg3' style='display: none;'>
      <label>Are the layers spatially related?</label>
      <label for='agocmsConfRelationshipIsSpatial'>Check if related:</label>
      <input type='checkbox' value='false'
              id='agocmsConfRelationshipIsSpatial'
              d-setting='has_spatial_relationship'/>
    </div>
    <div class='agocms-conf-rel-wiz-page' id='agocmsConfRelationshipWizPg4' style='display: none;'>
      <label>Select how Parent Layer is <b>spatially related</b> to Child Layer:</label>
      <ul>
        <li>
          <input type='checkbox'
                  id='agocmsConfRelationshipSpatialIntersects'
                  d-setting='spatial_relationship.intersects'/>
          <label for='agocmsConfRelationshipSpatialIntersects'>Intersects</label>
        </li>
        <li>
          <input type='checkbox'
                  id='agocmsConfRelationshipSpatialContains'
                  d-setting='spatial_relationship.contains'/>
          <label for='agocmsConfRelationshipSpatialContains'>Contains</label>
        </li>
        <li>
          <input type='checkbox'
                  id='agocmsConfRelationshipSpatialCrosses'
                  d-setting='spatial_relationship.crosses'/>
          <label for='agocmsConfRelationshipSpatialCrosses'>Crosses</label>
        </li>
        <li>
          <input type='checkbox'
                  id='agocmsConfRelationshipSpatialOverlaps'
                  d-setting='spatial_relationship.overlaps'/>
          <label for='agocmsConfRelationshipSpatialOverlaps'>Overlaps</label>
        </li>
        <li>
          <input type='checkbox'
                  id='agocmsConfRelationshipSpatialTouches'
                  d-setting='spatial_relationship.touches'/>
          <label for='agocmsConfRelationshipSpatialTouches'>Touches</label>
        </li>
        <li>
          <input type='checkbox'
                  id='agocmsConfRelationshipSpatialWithin'
                  d-setting='spatial_relationship.within'/>
          <label for='agocmsConfRelationshipSpatialWithin'>Within</label>
        </li>
      </ul>
    </div>
    <div class='agocms-conf-rel-wiz-page' id='agocmsConfRelationshipWizPg5' style='display: none;'>
      <label>Do the Parent Layer and Child Layer have one or more related fields?</label>
      <!-- make into template. include and/or -->
      <div id='agocmsConfRelationshipRelatedFields'></div>
    </div>
    <div class='agocms-conf-rel-wiz-page' id='agocmsConfRelationshipWizPg6' style='display: none;'>
      <label>Does this relationship look correct?</label>
      <!-- describe with helper fn -->
      <p id='agocmsConfRelationshipSummary'></p>
    </div>
    <div>
      <button id='agocmsConfRelationshipWizBackBtn'>Back</button>
      <button id='agocmsConfRelationshipWizNextBtn'>Next</button>
      <button id='agocmsConfRelationshipWizCompleteBtn'>Confirm and Close</button>
    </div>
  </div>
</template>
<template id='agocmsConfRelationshipsRelatedFields'>
  <div>
    <label for='agocmsConfRelationshipParentField'>Parent Field</label>
    <select id='agocmsConfRelationshipParentField'
            d-setting='related_fields[].parent_field'></select>
  </div>
  <div>
    <label for='agocmsConfRelationshipOperatorField'>Operator</label>
    <select id='agocmsConfRelationshipOperatorField'
            d-setting='related_fields[].operator'>
      <option value='='>is equal to</option>
      <option value='<'>is less than</option>
      <option value='>'>is greater than</option>
      <option value='=>'>is greater than or equal to</option>
      <option value='=<'>is less than or equal to</option>
    </select>
  </div>
  <div>
    <label for='agocmsConfRelationshipChildField'>Child Field</label>
    <select id='agocmsConfRelationshipChildField'
            d-setting='related_fields[].child_field'></select>
  </div>
</template>
